@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Variables
$bg-bg : #37517d;
$primary-color: #46b1e3;
$text-color: #000000;
$white: #fff;
$shadow: 0 2px 10px #0000001a;
$transition: all 0.3s ease;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;